{
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "react",
      "react-hooks",
      "import"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:import/typescript",
      "plugin:jest/recommended"
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      "@typescript-eslint/explicit-module-boundary-types": "off"
    },
    "overrides": [
        {
          "files": ["**/*.js", "**/*.jsx", "**/*.ts", "**/*.tsx"],
          "env": {
            "jest": true
          }
        }
      ]
  }
  